<div class="navbar">
    <table>
        <tbody>
            <tr>
                <td id="img-title">
                    <img src="../assets/photos/PC_Plant-Branch_Full-Colour_SMALLER.png" alt="plant-smaller">
                </td>
                <td id="title" hx-get="/pages/home.html" hx-trigger="click" hx-target=".main">
                    Paradise Coffee
                </td>
                <td hx-get="/pages/home.html" hx-trigger="click" hx-target=".main">
                    Home
                </td>
                <td hx-get="/pages/contact.html" hx-trigger="click" hx-target=".main">
                    Contact
                </td>
                <td hx-get="/pages/about.html" hx-trigger="click" hx-target=".main">
                    About
                </td>
            </tr>
        </tbody>
    </table>
</div>