/* General */
* {
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    margin-top: 0;
    display: flex;
    width: 100%;
    height: 8rem;
    background-color: pink;
    border-radius: 10px;
}
.navbar table {
    margin-left: auto;
    margin-right: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar tr {
    display: flex;
    gap: 4rem;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 5px grey;
}
.navbar td {
    margin-top: auto;
    margin-bottom: auto;
}
.navbar td:hover {
    transform: scale(1.2);
    cursor: pointer;
}
#title {
    transform: scale(1);
    margin-right: 70rem;
    font-size: 3rem;
}

/* Main */
#main div {
    position: block;
    margin: auto;
    text-align: center;
    width: 50%;
}
