<div class="navbar">
    <table>
        <tbody>
            <tr>
                <td id="title" hx-get="/home.html" hx-trigger="click" hx-target="#main">
                    Paradise Coffee
                </td>
                <td hx-get="/home.html" hx-trigger="click" hx-target="#main">
                    Home
                </td>
                <td hx-get="/contact.html" hx-trigger="click" hx-target="#main">
                    Contact
                </td>
                <td hx-get="/about.html" hx-trigger="click" hx-target="#main">
                    About
                </td>
            </tr>
        </tbody>
    </table>
</div>